<div class="text-center mb-5">
  <h1>弾薬一覧</h1>
  <div class="row mt-5">
    <% @ammos.each do |ammo| %>
      <div class="col-xl-6 border pt-5 pb-3">
        <p>
          <img class="rounded" src=<%= "/ammos/#{ammo.image}" %> alt="Ammo" width="200px" height="200px">
        </p>
        <p><%= link_to ammo.name, ammo_path(ammo), class: 'font-weight-bold h4' %></p>
      </div>
    <% end %>
  </div>
</div>
