<div class="text-center mb-5">
  <h1>武器一覧</h1>
  <div class="row mt-5">
    <% @weapons.each do |weapon| %>
      <div class="col-xl-6 border pt-5 pb-3">
        <p>
          <img class="rounded" src=<%= "/weapons/#{weapon.image}" %> alt="Weapon" width="320px" height="200px">
        </p>
        <p>
          <%= link_to weapon.name, weapon_path(weapon), class: 'font-weight-bold h4' %>
          <img class="rounded ml-2 mb-1" src=<%= "/ammos/#{weapon.ammo.image}" %> alt="Ammo" width="30px" height="30px">
        </p>
        <p class="font-weight-bold h5"><%= weapon.weapon_category.name %></p>
      </div>
    <% end %>
  </div>
</div>
