<div class="text-center mb-5">
  <p>
    <img class="rounded" src=<%= "/weapons/#{@weapon.image}" %> alt="Weapon" width="320px" height="200px">
  </p>
  <p class="font-weight-bold h4">
    <%= @weapon.name %>
    <img class="rounded  ml-2 mb-2" src=<%= "/ammos/#{@weapon.ammo.image}" %> alt="Ammo" width="40px" height="40px">
  </p>
  <p class="font-weight-bold h5"><%= @weapon.weapon_category.name %></p>
</div>
