<div class="text-center mb-5">
  <p>
    <img class="rounded" src=<%= "/legends/#{@legend.image}" %> alt="Legend" width="400px" height="240px">
  </p>
  <h1 class="h5 font-weight-bold"><%= @legend.name %></h1>
</div>
